[Unit]
Description=Mount nfs and symlink it to home
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nfsmount.sh

[Install]
WantedBy=default.target
