[Unit]
Description=Mount dir from /proc/cmdline to /opt (mount=UUID:subdir)
After=local-fs.target
Requires=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/uuidmount.sh

[Install]
WantedBy=multi-user.target
