[Unit]
Description=Checks for new links from nfs NET to add them to list
Before=session-end.target
ConditionPathExists=/mnt/nfs/%u

[Service]
ExecStart=/usr/local/bin/finish-profiling.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=default.target
