[Unit]
Description=Link files from nfs NET to user's home
After=default.target
ConditionPathExists=/mnt/nfs/%u

[Service]
ExecStart=/usr/local/bin/net-backup.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=default.target
