[Unit]
Description=Add .local/bin to path
Before=session-end.target

[Service]
ExecStart=/usr/local/bin/save-profile.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=default.target
