[Unit]
Description=Users homes
After=rpc-statd.service

[Mount]
What=192.168.62.12:/jails/samba4/home/export
Where=/home/export
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
