[Unit]
Description=Replace localdomain with reverse dig -x result
Wants=network-online.target
After=network-online.target
Before=default.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/replace-localdomain.sh

[Install]
WantedBy=multi-user.target
